body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100vh;
    text-align: center;
}

.split {
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
}

.split.left {
    position: absolute;
    left: 0;
    background-color: pink;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTay9o6PBHPOcTk2JovzoHfsA6f2R5G9kxaSA&s");
    background-size: cover;
}

.split.right {
    position: absolute;
    right: 0;
    background-color: lightblue;
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8PDw8PDxANDw8PDQ0PDQ8PDQ8NDRAPFREWFxURFRUYHSggGBolHhUWITEhJSktLi4uFx8zODMsNygtLisBCgoKDg0OGhAQFysdFR0tKysrLSsrLSstLSsrKy0tLS0tLSsrKysrKystKy0rKzctKy0rKysrLTcrLTcrNysrLf/AABEIAOEA4AMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAAAQIDBAUGBwj/xABQEAABAwICAwkMBQcKBwAAAAABAAIDBBEFIQYSMRMiQVFhcZGxwwcyMzVSc3SBobLB0SMlcnWEFEJFgpKU0xUkNERTZMLh4vBDVWKTorPx/8QAGAEBAQEBAQAAAAAAAAAAAAAAAAIBAwT/xAAhEQEBAAICAgMBAQEAAAAAAAAAAQIRITESQQMyURNxIv/aAAwDAQACEQMRAD8A9xQhCAQhCBk0ga1zjsa0uPMBdYr7vzkOseLa0cw4B/s3Oa1cQ8DL5qT3SswqsWVHuTfJb0Jdxb5I6F5pp9p8GNkgpZXNdrPj1onar7tNnO1/zW3yFsz1eWR6TV0TxIyrrGuBvf8AKZXX5w4kO5iCt3B9O7k3yW9ARuTfJb0BcP3M9OjiTXU9RqiqjZrh7QGtnjvYu1eBwJFwMswRxDrcZxenooTPUyNijBAublznHY1rRmTyBbwxb3Jvkt6Ajcm+S3oC5PBe6ThdXM2BsksUj3BsW7x7kyRx2Na65FzwA2uuvKcBm5N8lvQE0xM8lvQE9ISmhz+lmKGlhvFGx8rpIIYWOu1jppn6rNcjPVADnG23VtwrEjpK099idWHcIhho4YhyNZuZsPWVb06/q33nhnbqZizUZarMw+rP6UxLoov4KmZhNUf0pifRRfwVZ3UN5TxI3Yn5cC51sqA4XONuLYn6hRHsU0YXUbBimKev8h/gq6wqVpXK2qZUuH1DWuc7FsRa1rS5zj+RANaBckncdllQwWc1rHSU2MYm9rXBrrx00ZFxcGz4AbEZgrpJWNc1zXAOa5pa5pFwWkWII4lQwbBKaia9lNHuYe/Xfd75HOdawu55JsANizyuuxF/JtTw4pifq/Ih2CcMOm/5rig5xRW/9K0XFQPK2ZUVjhNTwYriR/cj2KhfhtUP0piXRRfwVO6UjMEjmQ2vGx+X/UNnrXTHbLVJ9HVj9KYj0Uf8FaWiWOVcNcyhqphUxzwySUszo2RTB0bmiSKQMAacntcHAA5EG+RDXm+Yz4uJZ9J46wrzWJe7CumuEy8vV0IQpWEIQgr4j4GbzMnulZE4dqO1e+1Hav2rZe1a+I+Bm81J7pWYVWLK+S5ZHWAdra2qL3769s734bonLHAvADLAAsFyCfKHsy4+fL1buidzWV80lXQtEjZXGSWnBayRkhN3PjvkWk5lu0G9r3AHn9JohU7qGzU9YBrC7RA9htyOOSdcaF7uWvkZiNK5t85JGnlYYyD6r9S6/u9GUSUJ324bnOBt1d2u29+XV2cxXRaD6I7jI2ofEIQxmpBF+cBxu5V1+M4TT1sLoKmNskTrGx2gjY4HgPKt1wbfKjtYkBty421bbdbgty3X1Zgz5DTU5l8IYIjITtL9UXK5nB+5thlLKJWRyPcLOYJXFwHERfauwJW4xlBKaSglNJVDktOb/wA24v5Tw3n/AOMlfPwD1lRaenewfeWG9sq7HJJ2nJcY5TscqTHKwxyjKMlXGOUzSqbHqZr1wyi4s6yQuUOukL1z0o97lXkch8irSyK8cWUyZ6pTSJ80ioTSL0YYpTw15jPG3hb8QrVBKH4xhLmEEGLEc/VDcc6wZHqxok765w8cG51x5L6sS6Z4/wDJO3uKEIXBYQhCCviPgZvMye6VmFaGLOtTzEf2UnulZk7iGuLc3Bji0cZAyVYsritONN20bHsgfHuoLmBxG6HXG1rW7MuEnJeXxd0jFWSa5qd0F82SQU7ozzhrQR6iFy09U9++e4uc4axJ2knMnpJUDmXBcDkO+B23tmeZZu0fRmgemkeKROBaIqmIDdYgdZhadkjCdrTxbQcs8iejq6qOJjpJXsjjaLve9wYwDlJXzz3K6t8WJUzm3s90kT+VjmXt+0Gn1Lru7rXSh1FBciFzJpSOB0jXNGfHYH/yVS8bNPRMM0rw+rk3Knq4JpALBgdZ5A8kG2t6rrVJXyi6UscyWJ7mua8OjN7Ssc2xDsuXZzL6hwqodLTwSPFnvhje8bN8Wgn2rcfxlWyU0lISmkqhyOnx3kH3jhvbKo1ys6fHeQ/eOG9ss8OV/HO0ZLjHqZsioh6eJEyxS0WyKRsqxK3E44G6zz9lozc48QC5av0gqZiQwmFnEzviOV3yXP8AlauV6HJVNb3zmt+04N61E2vid3skbjySNJ615Y6EuN3EuPGSSUn5Ot/hP1u69TfKqssy4Gkr6iHvJHW8hx1mdB2epb1DjQl3rhqScV967mPwT+WhqTSqlLIklkVZ710xxZaV71c0PP11h/mq3qjWa5yu6IvtjFCRtENcR+zGnyfWmPb3pCELyugQhCCnjP8ARp/NP6lnkrQxn+jT+af1LNcVWLK8K7o2gE9PNJUU0b5KWR7njc2l7oHONzG5oz1bk2cMgMja2fDUeHOleI3SBrdYB1gXuH6uS+iNL9LGUMby0MkkGVnv1WBx2NyzceQLzFndRqRLrSU1BI2/eiOSJ/qfrOt0FLIOj0B0SayZk4Y9sULLRl+T5HHa+y7TSnR2nxKDcKgHI60UjMpI32tdp+HCo9FdJqbEYTJBdjmECaF1t0jcdmza08DhtseEEDZJVzWmPOcG7k1LBMJJZpJw1wLWFrWgkbL2XoYsAAMgAAANgCCU0lNAJTSUhKaStHJafH6OH7xw7tlmBy0NPj9HF94Yd2yyNddPi9ozWNdMnqRG0vdsaL8/IotdZmLSFxazg753w+K6VMjNqJHzPL3+ocDRxBObEp2Rp4YptdFfc0bmrOol1FgpmNMdEr+5pro1olpakubZ3fDbyjjT3OVRrdVwPTzKclbE0Eq/okfrei8zXe7Gs4lX9EfG9F5mt92NT8v1rce3v6EIXkdAhCZK4hpIFyBkONBVxr+jT+af1LJqJNVrnWvqtc63HYXsrFZjMTmTR5h+5SZX5CNhseHiUDiqxZXy7iOKS1B15Xuc5xc853Gs86ziOcqjUODnOMbXNZfIEl+qOIuXUae6JS4fO/VafyV7yaaS281SconH81zb2z2gX47c1SUU0jgxtmaxAJc+zBym3yKz/Wup7lOJPhxCIAnVm3SCQXyI1dYH1EDpK99JXk+gGigZURytJfHACTIRZr5TxL1UlXj0mglNJSEphKphSUwlBKYSg5LT8/RRfeGHdssXWWvp+foo/T8P7ZYWsuvxe2ZJS9UZxd55h1KcuUThvleTIQNTtVOAS2XNRA1Fk6yEDbJCE5C0RPakKkIUbwtlDCVf0RP1vReZrfdYs9aehPjqg+xV9Uan5PrSdvfkIQvKsKnilQY2XFrk2z4rFXFh6RzWsOJhP7R/0+1bJyysXD6omStJbrF1LKdYG2qANluHMjhWi4rPwSG9NXS8cbmA8zST/hV55zVztiOeNr2lr2tc0izmuAc0jlBWK3RTD2u1m0lM03vvYWN6gtolNJVBkcbWDVaA0DYALBBKCUwlGFJTCUhKYSgUlMJSEphcg5TT4/Qx+n4f2ywNZbunp+hZ6fh/bLn7rp8ftmRxckBTbpLrpWROEoTGOTwVzqilNSpCgEiELAJClSLBE+O+xXtDDq4zQk8EdWbcOxiqK5ot43ofNVnuxqcrw2Pf0IQuKguR0lnzfzkD1ZdYK6x7g0EnYASeYLg8aeXODdrnEC3GTtV4Mrcw2mLcMeMrvimeb8oNj0AKu85rdqogylewbGUz2jmEZC595zTHspCUwlBKYSrSCUwlBKYSgUlMJSEphKBSUwlISmEoOW08P0LPT8P7ZYF1u6dH6Fnp1B2ywFeHspSUiRCsKCpGy8aiQstFkOBSqonCQjhU7FhChE3GFI14OxZsOTSlSFZW6IruirScYoALXMdYBfIXtGqSv6I+OcO+zVdUajLpr3xCELm1VxN+rE7ls31E5+y64+iZutbE3gD9c/q774LpNIJbNaPtO9lh1lY+iEWtPNJ5DA0c7j/pKucYs9ulxPwE3mZfcK5eQ5rqMT8BN5mX3CuUkOZTApCUwlBKYSrSCUwlBKYSgCUwlBKYSgCUwlBKYSg5jTp1oGH+/UHbLCButnTs/wA3b6bQdsucieRzcS3C9tWkiGuB2IXTbAhIUKQEpEIWNCUFIhS1PHJfI7VIqhU8L7jlG35oHK9oj45w7mquzVIq7ol45w7mquzU5dD31CELm1zOks+buQBvsv8A4vYrGhsGrTl52ySOPqGXXdYmkE+tc+USfUTf4rrsJg3OCFmwiNut9oi59pKvLiMnZ2J+Am8zL7hXIyHMrrsT8BN5mX3CuNlOZTApCUwlBKjJVpKSmEpCUwlApKYSkJTSUASmEoJTCUHNaceAb6dQdsudAXQ6an6Bvp1B2ywLJO6oAqRr1GnBVs0kSICFmzQQhIloVCRKpaE1j9Vw5TY+tOVepOSNaJV3RLxzh3NVdmqAdcA8YBV/RLxzh3NU9msy6Y9+UNa/VjeeHVIHOch7SplnY3LqxgcbvYP89VROxyU7N1qYo+B0jQfs3z9i75cVoyzdawv2iNjz6+9t7fYu1VZ9sitifgJvMy+4VxUpzPOu1xPwE3mZfcK4aU5nnTApCUwlISmEq0lJTCUhKYSgUlMJSEppKAJTSUhKYStHPaZeBb6dQdqsWy2dMD9C306h7VY4Cmd1UMcgFEwtZMBWtTBKmNKesAhLZLZZtujUJSmkrNtkBKp1b8lYe5Un797WeU4D1cKbVprxDet+y3qWhol45w38T2apFXdE/HOG/iezW5dOb39c/pPPbLyWE9P/AMaugXG6TTAl+w74jPMZb34e1Tj2yrOgcFopZT+e8NHq3x94dC6lZmjcG50sQ4XNLz+sbj2WWmsvbYrYn4CbzMvuFcFMczzrvcT8BN5mX3CvP5jmedVgymkphKCUwlWkpKYSkJTCUCkphKCUwlboKSmkpCU0laMHS7wLPTqHqlWWAtPSvwTPTqHtVQaFHurhkkesLcPBzqiHLWY1Vq+jJ37BfygOHlCbVpXa5SAqkyVTtkU1siyCi6iD0uuoVo8lRucmukCrTVCNLUSqXB4C4mU7BdrOfhPw6VWoqR1Q7K4YO/d8ByromxBoDWiwAsByKoyoXBW9E/HOG/iezVdwVnRUfXWG/iezW3pzse9yv1Wud5LSegLg8Wu97Yxm5zmtHKdi7PFZLRHlIHtufYCuTwuPda6McDCXn9UXHtATHraa7aJga1rRsa0NHMBZOQhQ1WxLwE3mZfcK87mO+POvRMT8BN5mX3CvOJjvjzlXgmmkppKQlMJXRhSVFK+ycSmErQx0u3kOXt+SZuuzZmVISmkoIzLlf/exAfc25Pl804lNugxNKPBM9PoeqVVWtVrSbwcfp9B1TKNjVzt5rpjCsarEbU1jVYY1Ra6SM6twZsm+YQx/NvTzjgWJU0U8XfsdbymjWb0hdoxqnaFHnpXi87FSg1S9CfRRP76ON3OxpKa3DKcbIYf+235J5xvhXnzC+Q2Y1zzxNBd1LWodHJHWdOdRvkA3eec8C7ERhos0ADiAACje1Z5niz2QNY0NYA1o2AKN7Vde1V3tVSssU3NU2jA+usM/E9mke1P0bH11hn4ns1W+HPJ7HpDNZobyEnqHxWZobHrSTyWGQawG2eZJNugJ2k0++fyAN9QF+slXdD4NWmDuGR73dG9+HtVdYuftuIQhQ1WxPwE3mZfcK81mO+POV6VifgJ/My+4V5jKczzlXgmkJTCUEphK6sKSmkpCU0lApKYSglISgCU0lBKRBj6R+Dj9PoOqZOY1M0kNomHir6DqmUlPIHbNvCOFccu3XDpMxqsMamMarDAudrtIcxqma1NaFM0LlauQAJbJwCLKVI3BROCsEKJwVRis8KvIFbeFXeFcRVR4S6Oj66wz8V2aWUgZnIKLRuXWxrDbDIGo5P7O5XSOWXT0PSCXWJAz1nEgc5vb2rs6CDcoo4/IY1p5SBmelc7RYU6SqLnW3OnkI+08WIA6QV1KrKuUCEIUtVsT8BN5mX3CvLpTvjznrXq08QexzDse1zTzEWXmGJUMsMjmvaQdY24jyt4xyq8KyqhKaSnGN3EehM1HHYD0LpuJISmkpxjd5J6Ehid5LuhNwMJSEp+5O8l3Qk3F3knoTcDEJ+4u8l3QjcXeS7oTcGDpN4Jnp9D1TKCM2WpjeGyTQua0arw+GaIvuGbpE4kNceAEOcL8GSxWmobk6irgeHVhErfU5psQueXbrheGvT1PA7pC0InA7Ddc6KmUbaTEP3U/NStrZBmKTEecUrvmuVjrMo6VoUjVz0eMTj+p1556Q361YZjj+GhxH1UxPxXO41czx/W4ELJGOf3PEv3M/NH8uf3PEv3N3zWeN/G+eP61Co3LLfjjuCixI/hSPioJMamOyirx+FcT1rZjWeeP61XqlPUAbMz7FnPxCZ22kxE/hXW61C+rk2fkmIZ7P5q75q5E3KJZ5C7b/kpNE/HWG/iOzVF80x/qeIfurvmun7m+jlVNXxVs0MkEFOx4jElhI97i0kkAmw3oFtuav055WaezhKhCOYQhCAUVT3pQhBQQhCAQhCAQhCAQhCBVz1Xtd+shCDfh7xv2G9SkCEIBCEIESoQgEIQgEiEIFC0G7BzIQg//2Q==");
    background-size: cover;
}

.right,
.left {
    transition: width 2s ease-in-out;
}

h1 {
    font-size: 100px;
    letter-spacing: 4px;
    backdrop-filter: brightness(.5);
    color: aliceblue;
}

.btn {
    color: white;
    background-color: black;
    padding: 20px 40px;
    font-size: 25px;
    border: 4px solid;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    white-space: nowrap;
}

.btn:hover {
    background-color: white;
    color: black;
}

.active-right .right {
    width: 75%;
}

.active-right .left {
    width: 25%;
}

.active-left .left {
    width: 75%;
}

.active-left .right {
    width: 25%;
}